<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>동적 폼 전송</title>

    <!-- jquery cdn -->
    <script
      src="https://code.jquery.com/jquery-3.7.0.min.js"
      integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g="
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <h1>동적 폼 전송 연습하기</h1>

    <!-- 이름, 성별(라디오버튼) 정보를 입력받는 폼 -->
    <form name="register">
      <label for="">이름</label>
      <input type="text" id="name" name="name" value="SESAC" />
      <br />

      성별
      <input type="radio" name="gender" value="m" id="male" checked />
      <label for="male">남</label>
      <input type="radio" name="gender" value="f" id="female" />
      <label for="female">여</label>
      <br />
      <br />

      <button type="button" onClick="ajaxGet();">Ajax Get 제출</button>
      <button type="button" onClick="ajaxPost();">Ajax Post 제출</button>
    </form>

    <!-- 동적 폼 전송 결과를 보여줄 곳 -->
    <div class="result"></div>

    <script>
      //frontend javascript

      const resultBox = document.querySelector("div.result");

      function ajaxGet() {
        console.log("ajaxGet 함수 호출!");

        // 폼 선택
        const form = document.forms["register"];

        //폼 객체 요소 확인
        console.dir(form);
        console.dir(form.name);
        console.dir(form.gender);
        console.dir(form.name.value); // 이름 input에 입력한 값
        console.dir(form.gender.value); // 이름 input에 입력한 값선택한 값

        // 요청에 실어서 보낼 데이터 변수
        const data = {
          name: form.name.value,
          gender: form.gender.value,
        };

        // Ajax로 서버에 Get 요청 보내기
        $.ajax({
          type: "get", // 요청의 종류 ( = form의 method 속성)
          url: "/ajax", // 요청의 경로 ( = form의 action 속성)
          data: data, // 요청에 실어보낼 데이터 (서버가 받게 될 데이터)
          success: function (data) {
            // 요청에 성공적으로 수행되었을 때 실행할 함수
            console.log(data);

            // 퀴즈
            // div.result 선택해서
            // 서버로 받은 data 값을 활용해 내용 브라우저 화면에 출력
            resultBox.textContent = `GET /ajax 요청 완료!! ${data.name}님은 ${data.gender}이시죠??`;
          },
        });
      }

      function ajaxPost() {
        console.log("ajaxPost 함수 호출!");

        const form = document.forms["register"];
        const data = {
          name: form.name.value,
          gender: form.name.value,
        }; // 서버로 보낼 데이터를 만듦

        $.ajax({
          type: "post",
          url: "ajax",
          data: data,
          success: function (data) {
            console.log(data);
            resultBox.textContent = `POST /ajax 요청 완료!!${data.name}님은 ${data.gender}이시죠?? ㅎㅎ `;
          },
        });
      }
    </script>
  </body>
</html>
