.div1 {
  width: 100px;
  height: 100px;
  background-color: aquamarine;
}

/* hover : 요소에 마우스를 올렸을 때 */
.div1:hover {
  background-color: hotpink;
  height: 150px;
}

/* :active 요소를 마우스로 클릭하고 있을 때 */
.div1:active {
  background-color: brown;
  width: 150px;
}

/* :focus : 요소에 포커스가 됐을 때 */
input:focus {
  background-color: blueviolet;
  color: #ffffff;
  outline-color: yellowgreen;
}

/* 링크에 마우스 올리면 배경색 */
.links > a:hover {
  background-color: coral;
}

/* 갔다온 링크 색 변하게 만들기 */
.links > a:visited {
  /* #cccccc */
  color: #ccc;
}

/* 요소 상황에 다른 가상 선택자 */
.zoo > * {
  background-color: green;
  color: white;
}

/* E:last-child : E가 마지막 요소라면 */
.zoo > li:last-child {
  background-color: black;
}

/* E:first-child : E가 첫번째 요소라면 */
.zoo > *:first-child {
  background-color: red;
}

/* E:not(xyz) : xyz가 아닌 요소 선택 */
.zoo > *:not(div) {
  background-color: pink;
}

/* E:nth-child : E가 n번째 요소 선택 */
.zoo > *:nth-child(2) {
  background-color: aqua;
}

/* .zoo > *:nth-child(2n) {
  background-color: aqua;
}

.zoo > *:nth-child(3n+1) {
  background-color: aqua;
} */

/* ================================== */

/* 가상 요소 선택자 */
.box::before {
  content: '택시~';
  font-weight: bold;
  color: red;
}

.box::after {
  content: '빨리';
  font-weight: bold;
  color: blue !important;
}

/* ================================== */
[disabled] {
 background-color: red; 
}

[placeholder="이름"] {
  background-color: orange;
}

input:not([placeholder]) {
  background-color: blue;
}


