<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('include', {title: 'Home'}) %>
  </head>
  <body>
    <%- include('header') %>
    <h1>์ค์ต. Session ์ฐ์ต</h1>
    <p>์ฌ๊ธฐ๋ Home ์๋๋ค! ๐ก</p>

    <!-- TODO: isLogin ๊ฐ์ ๋ฐ๋ผ ์๋ก ๋ค๋ฅธ ๋ฉ์ธ์ง ๋ณด์ฌ์ฃผ๊ธฐ -->
    <!-- ๋ก๊ทธ์ธ์ -->
    <p>ใใใ๋ ํ์ํฉ๋๋ค ๐๐ป</p>
    <!-- ๋ก๊ทธ์์์ -->
    <p>๋ก๊ทธ์ธ์ ์์ง ํ์ง ์์ผ์จ๊ตฐ์! ๋ก๊ทธ์ธ์ ์งํํด๋ณด์ธ์!</p>
  </body>
</html>
