<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>get으로 정보 받기</title>
  </head>
  <body>
    <h1><%= title %></h1>

    <h3>이름</h3>
    <label for="name_text">이름</label>
    <input type="text" id="ip_text" />

    <form action="/getForm" method="get">
      <input type="text" name="id" placeholder="ID" />
      <input type="password" name="pw" placeholder="PW" />
      <button>제출</button>
    </form>

    <h3>Post 요청</h3>
    <form action="" method="post">
      <input type="text" name="id" placeholder="ID" />
      <input type="password" name="id" placeholder="PW" />
      <button>제출</button>
    </form>
  </body>
</html>
