<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>일반 폼 실습 풀이</h1>
    <a href="/practice1">GET 폼 실습</a>
    <!-- ./practice1 로 했을 때도 접속해지긴 한다! 왜냐면 ./ 이게 홈으로부터~~ 여서!?
          ./ 상대경로   /절대경로  -->
    <a href="/practice2">POST 폼 실습</a>
  </body>
</html>
